<div id="wrapper" class="forced">
  <div class="topbar">
    <div class="topbar-left"></div>
    <div class="navbar navbar-default"></div>
  </div>
  <div class="left side-menu">
<!--    <div class="slimScrollDiv"></div>-->
    <div id="sidebar-menu">
      <ul>
        <li>
          <a routerLink="/strategies" class="waves-effect waves-primary">
            <i class="fas fa-pencil-alt"></i>
            <span>Strategies</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="content-page">
    <div class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

