<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <a routerLink="/" class="btn btn-default pull-right" title="Documentation">
        <i class="fa fa-question-circle m-r-5"></i>
        <span class="hidden-xs">Help</span>
      </a>
      <a routerLink="/strategies/new" routerLinkActive="active" class="btn btn-success pull-right m-r-5">
        <i class="fas fa-pencil-alt m-r-5"></i>
        New strategy
      </a>
      <h4 class="page-title" id="page_title_h4">Strategies</h4>
    </div>
  </div>
</div>


<div class="system-message-container">

</div>


<div class="row">
  <div class="col-md-12">
    <nz-tabset nzType="card">
      <nz-tab nzTitle="My Strategies">
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12">
                  <div class="row port m-t-15">
                    <div class="categoryMyStrategiesContainer">
                      <div class="col-md-12 m-t-30 m-b-30">
                        <h3 class="title m-b-15">You do not have any strategies.</h3>
                        <a routerLink="/strategies/new" routerLinkActive="active" class="btn btn-primary m-r-10">Create a strategy now</a>
                        <a class="btn btn-link">Read documentation</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nz-tab>
<!--      <nz-tab nzTitle="Market Strategies">-->

<!--      </nz-tab>-->
    </nz-tabset>
  </div>
</div>
