<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <a routerLink="/" class="btn btn-default pull-right" title="Documentation">
        <i class="fa fa-question-circle m-r-5"></i>
        <span class="hidden-xs">Help</span>
      </a>
      <a routerLink="/" class="btn btn-success pull-right m-r-5">
        <i class="fa fa-pencil m-r-5"></i>
        " New strategy"
      </a>
      <h4 class="page-title" id="page_title_h4">Strategies</h4>
    </div>
  </div>
</div>
