<div class="row">
  <div class="col-sm-12">
    <div class="page-title-box">
      <h4 class="page-title" id="page_title_h4">New Strategy</h4>
    </div>
  </div>
</div>


<div class="system-message-container"></div>


<div class="row">
  <div class="col-lg-3 col-md-4">
    <div class="m-t-20">
      <div class="card-box">
        <div>
          <form nz-form [formGroup]="form" [nzLayout]="'vertical'" (ngSubmit)="submit(model)">
            <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            <button type="submit" class="btn btn-success waves-effect waves-light">
              <i class="fa fa-save m-r-5"></i>
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
